.users_title {
    margin-bottom: 30px;
}

.users_form {
    margin-bottom: 30px;
}

.users_table {
    .user_contact {
        a {
            display: block;
            margin-bottom: 10px;
        }
    }
}
