<div class="row users">
    <div class="col-md-10 col-md-offset-1">
        
        <h2 class="users_title">Users</h2>
        <form class="form-inline users_form">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search user" ng-model="users.searchName">
                      </div>      
                    </div>
                </div>
                <div class="col-xs-4">
                     <div class="form-group">
                        <label for="usersPerPage">Users per page:</label>
                        <select class="form-control" 
                            ng-model="numPerPageSelected" 
                            ng-init="numPerPageSelected = numPerPageOptions[1]"
                            ng-options="numPerPageOptions as numPerPageOptions.value for numPerPageOptions in numPerPageOptions" 
                            ng-change="users.numPerPageChange(numPerPageSelected.value)">
                        </select>
                    </div>
                </div>
            </div>
        </form>
        
        <p class="users-length"><strong>Total Number of users: </strong>{{ users.usersLength }}</p> 
            
        <div class="table-responsive">
            <table class="table users_table">
                <thead>
                    <tr class="info">
                        <th>
                            <a class="sort-link" href="" ng-click="users.sortType = 'user.name'; users.sortReverse = !users.sortReverse">
                                Name
                                <span ng-show="users.sortType == 'user.name' && !users.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="users.sortType == 'user.name' && users.sortReverse" class="fa fa-caret-up"></span>
                             </a>
                        </th>
                        <th>
                            <a class="sort-link" href="" ng-click="users.sortType = 'user.username'; users.sortReverse = !users.sortReverse">
                                Username
                                <span ng-show="users.sortType == 'user.username' && !users.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="users.sortType == 'user.username' && users.sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users.filteredUsers | orderBy:users.sortType:users.sortReverse | filter:users.searchName" class="users_user">
                        <td class="user_name">
                            <a href="#!/users/{{ user.id }}">{{ user.name }}</a>
                        </td>
                        <td class="user_username">{{ user.username }}</td>
                        <td class="user_contact">
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            <a href="tel:{{ user.phone }}">{{ user.phone }}</a>
                        </td>
                        <td class="user_address">
                            <div class="user_address_group">
                                <p>{{ user.address.street }} {{ user.address.suite }}</p>
                                <p>{{ user.address.zipcode}} {{ user.address.city}}</p>
                            </div>
                        </td>
                        <td class="user_website">{{ user.website }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
         <!-- loading spinner -->
         <spinner name="usersSpinner" show="users.loading"></spinner>
        
        <ul uib-pagination 
            total-items="users.users.length"
            items-per-page="numPerPage"
            max-size="maxSize" 
            ng-model="currentPage"
            class="pagination-sm" 
            boundary-links="true">
        </ul>
        
    </div><!-- col end -->
</div> <!--row end-->
