.photos_images-container {
    display: flex;
    flex-flow: row wrap;
}

.photos_image {
    display: inline-block;
    margin: 10px 0 0 2%;
    flex-grow: 1;
    height: 100%;
    width: calc(100% * (1/4) - 10px - 1px);
}