<div class="row photos">
    <div class="col-md-10 col-md-offset-1">
        
        <h2 class="photos_title">Photos</h2>
        
         <!-- loading spinner -->
        <spinner name="photosSpinner" show="vm.loading"></spinner>
        
        <section class="photos_images-container">
            
            <div class="thumbnail photos_image" ng-repeat="photo in vm.photos">
                <img class="img-responsive" src="{{ photo.thumbnailUrl }}" alt="{{ photo.title }}"></img>
                <div class="caption">
                    <h4>{{ photo.title }}</h4>
                </div>
            </div>
        </section>
        
    </div><!-- col end -->
</div> <!--row end-->
