.user-page_todos {
    margin-top: 40px;
}

.user-page_todos-header {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2em;
}

.user-page_todo-outer {
    padding: 0;
}
.user-page_todo-inner {
    padding: 10px;
}