<div class="row user-page">
    <div class="col-md-8 col-md-offset-2">
      <div class="well well-lg">
        <spinner name="usersNameSpinner" show="vm.loading_user"></spinner>
        <h2 class="user-page_name text-right">{{ vm.user.name }}</h2>
      </div>
      
      <div class="well well-lg">
        <spinner name="usersDetailsSpinner" show="vm.loading_user"></spinner>
        <p><strong>Username: </strong>{{ vm.user.username }}</p>
        <p><strong>Email: </strong><a href="mailto:{{ vm.user.email }}">{{ vm.user.email }}</a></p>
        <p><strong>Phone: </strong><a href="mailto:{{ vm.user.phone }}">{{ vm.user.phone }}</a></p>
      </div>
      
      <section class="user-page_todos">
        <h3 class="user-page_todos-header">TO DO:</h3>
        <spinner name="usersTodosSpinner" show="vm.loading_todos"></spinner>
        <ul class="list-group">
          <li class="list-group-item user-page_todo-outer" ng-repeat="todo in vm.todos">
            <div class="user-page_todo-inner" ng-class="{'bg-success': todo.completed}">
              <span ng-if="todo.completed" class="badge bg-primary">Completed</span>
              {{ todo.title }}
            </div>
          </li>
        </ul>
      </section>
      
    </div>
</div> <!-- row end -->


