<nav class="navbar navbar-default layout-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Angular-Node API app</a>
        </div>
        
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/users">Users<span class="sr-only">(current)</span></a></li>
                <li><a href="#!/photos">Photos</a></li>
            </ul>
        </div>
    </div>
</nav>

<main class="layout-content">
    <div class="container-fluid">
   
       <ng-view></ng-view>
       
    </div><!-- container end -->
</main>

<exceptions></exceptions>
