
/* Global styles */

* {
  box-sizing: border-box;
}

/*html, body {*/
  /*@mixin font-reg;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/


/* Headers */
h2, h3, h4, h5, h6 {
  /*@mixin font-bold;*/
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3em;
}

/* text styles */

/*strong {*/
/*  @mixin font-bold;*/
/*}*/
