/*  Mixins and extends to use throught the project */

@define-mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @define-mixin font-light {
//   font-family: 'montserrat-light', sans-serif;
//   font-weight: 300;
// }

// @define-mixin font-reg {
//   font-family: 'montserrat-regular', sans-serif;
//   font-weight: 400;
// }

// @define-mixin font-bold {
//   font-family: 'montserrat-bold', sans-serif;
//   font-weight: 700;
// }
